* {
    font-family: Georgia, Times, "Times New Roman", serif;
}

body {
    background-color: #013369;
}

.quiz, .scores {
    padding-top: 15px;
    padding-bottom: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.2s ease;
    width: 50%;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid #001429;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    color: black;
    text-align: center;
}

p {
    margin: 25px 30px;
    color: black;
    line-height: 20px;
    font-size: larger;
    text-align: center;
}

.landing {
    text-align: center;
}

.scoresHeader {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: large;
}

.timer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: large;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 9px;
    border: 2px solid #001429;
}

.timer p {
    margin: 5px 5px;
}

button {
    margin: 10px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: #013369;
    border-radius: 5px;
    border: 2px solid #001429;
    padding: 20px;
}

a button {
    background-color: whitesmoke;
    font-weight: 700;
    color: black;
    font-size: larger;
}

a button:hover {
    background-color: #001429;
    color: whitesmoke;
    border: 2px solid black;
}

button:hover {
    background-color: #001429;
}

.options button {
    display: flexbox;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin-bottom: -1px;
}

.scores a button {
    font-size: 13.3333px;
    font-weight: 700;
    color: #fff;
    background-color: #013369;
    border-radius: 5px;
    border: 2px solid #001429;
    padding: 20px;
}

#submit-score {
    padding: 14px;
}

input[type="text"] {
    font-size: 100%;
}

.hide {
    display: none;
}

.feedback {
    position: absolute;
    left: 50%;
    top: 71%;
    transform: translate(-50%,-50%);
    font-style: bold;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 15px;
    color: #fff;
}

ol {
    max-height: 600px;
    overflow: auto;
}

#highscores {
    margin-left: -40px;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}

li:nth-child(odd) {
    background-color: #001429;
    color: white;
}

@media all and (max-width: 425px) {
    button { padding: 10px;
        font-size: medium;
    }
    a button {
        font-size: 15px;
    }
    h2 {
        font-size: 1.2em;
    }
    .quiz, .scores {
        width: 80%;
    }
    .feedback {
        width: 100%;
        text-align: center;
        top: 76%;
    }
    .timer {
        padding: 4px;
        top: 20%;
        font-size: 15px;
    }
    .scores a button {
        padding: 10px;
        font-size: 16px;
    }
}
